@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
 --background-blue:#043873;
 --highlight-lighter-blue:#4F9CF9;
}
p,h1,h2,h3{
    font-family: Inter;
}
h1,h2{
    font-weight: 700;
}
p{
    font-weight: 400;
}
body{
    background-color: var(--background-blue);
    margin: 0;
}
header{
    color:white;
    display: flex;
    align-items: center;
    padding: 0rem 1rem 0rem 1rem;
    justify-content: flex-start
}
header picture{
    padding-right: 0.5rem;
}
.menu-burger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 42px;
    height: 21px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.barra{
    height: 2px;
    width: 42px;
    background-color: white;
}
.first-page{
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.first-page article{
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.first-page button{
    background-color: var(--highlight-lighter-blue);
    border: none;
    border-radius: 0.5rem;
    height: 3rem;
}
.first-page p{
    color:white;
}
@media (max-width:320px){
    h2{
        font-size: 1rem;
    }
    h1{
        margin:auto;
        padding-left:1rem;
        padding-right:1rem;
        font-size: 2rem;
    }   
    .first-page p{
        margin:auto;
        padding-left:1rem;
        padding-right:1rem;

    }
}
@media (min-width:321px) and (min-width:768px){
    h2{
        font-size: 1.8rem;
    }        
}